/* Osnovni stilovi za tijelo stranice */
body {
    background-color: rgb(1, 23, 71); /* Zelena boja pozadine */
    color: #333; /* Boja teksta */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimalna visina 100% vidljivog ekrana */
    margin: 0; /* Uklanja zadani margin */
}

/* Stilovi za zaglavlje (header) */
header {
    background-color: #000000; /* Tamno zelena boja zaglavlja */
    color: #ffffff; /* Bijela boja teksta */
    padding: 10px;
    margin-bottom: 0; /* Uklanja donji margin */
}

/* Stilovi za kontejner (container) */
.container {
    flex: 1; /* Koristi preostali vertikalni prostor */
}

/* Stilovi za prikaz karata u card-deck */
.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Stilovi za kartice (card) */
.card {
    width: 18%;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Stilovi za paginaciju */
.pagination {
    display: flex;
    list-style: none;
}

.pagination a {
    padding: 8px;
    margin: 2px;
    border: 1px solid #ccc;
    text-decoration: none;
}

.pagination a.active {
    background-color: #146fb4; /* Tamno zelena boja aktivne stranice */
    color: #fff; /* Bijela boja teksta na aktivnoj stranici */
}

/* Stilovi za podnožje (footer) */
.footer {
    background-color: #000000; /* Tamno zelena boja podnožja */
    color: white; /* Bijela boja teksta */
    padding: 1rem;
    text-align: center;
}

/* Stilovi za kontejner paginacije */
.pagination-container {
    display: flex;
    justify-content: center;
}

/* Stilovi za navigacijsku traku (navbar) */
.navbar {
    background-color: rgb(34, 45, 68); /* Tamno plava boja pozadine navigacijske trake */
    color: #ffffff; /* Bijela boja teksta u navigacijskoj traci */
}

/* Stilovi za linkove unutar navigacijske trake */
.navbar-nav .nav-link {
    color: #ffffff; /* Bijela boja teksta za linkove u navigaciji */
}

/* Stilovi za linkove unutar navigacijske trake na hover */
.navbar-nav .nav-link:hover {
    color: #ffffff; /* Svijetlo zelena boja teksta na hover za linkove u navigaciji */
}

/* Stilovi za brand/logo u navigacijskoj traci */
.navbar-brand {
    color: #ffffff; /* Bijela boja teksta za brand/logo u navigaciji */
}

/* Stilovi za brand/logo u navigacijskoj traci na hover */
.navbar-brand:hover {
    color: #ffffff; /* Tamno zelena boja teksta na hover za brand/logo u navigaciji */
}

/* Stilovi za ikonu za otvaranje navigacije na malim ekranima */
.navbar-toggler-icon {
    background-color: #ffffff; /* Bijela boja ikone za otvaranje navigacije */
}

/* Uklanjanje naglaska na klik na ikoni za otvaranje navigacije */
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none; /* Uklanja naglasak na klik */
}
